@layer system {
  // we rely on having a positioning context
  .sheet.investigator {
    .window-content {
      position: relative;
    }
  }

  a.entity-link,
  a.content-link,
  a.inline-roll {
    background: unset;
    border-style: dashed;
    border-width: 1px;
  }

  .journal-sheet.investigator {
    .journal-page-header,
    .journal-header {
      display: none;
    }
    .journal-entry-pages {
      margin: 0;
    }
  }

  button.investigator-secret-hide-reveal-button {
    width: fit-content;
  }

  // foundry's default styles mean our compendium pack names get cut off
  .compendium-sidebar .directory-item.compendium[data-pack*="investigator"] {
    font-size: 0.9em;
    backdrop-filter: brightness(1%) blur(4px);
    // the default backgroundd images are cartoonish and bad for accessibility
    img.compendium-banner {
      display: none;
    }
    background-image:
      radial-gradient(circle, #0000 0%, #000f 100%),
      url("/systems/investigator/assets/wallpaper/nice_red_agents.webp");
    background-size: cover, cover;
    background-position: center, center;
  }
}

// the upside to taking control over layering is that we stick some
// `revert-layer`s into lower layers when we want to nullify them
@layer elements.typography {
  // we shouldn't have to do this revert for `.app` because the `compatibility`
  // layer should handle it. BUT it doesn't as of 13.334.
  .application.investigator,
  .app.investigator {
    .window-content {
      &,
      & * {
        all: revert-layer;
      }
    }
  }
}

@layer elements.forms {
  .application.investigator,
  .app.investigator {
    .window-content {
      &,
      & * {
        all: revert-layer;
      }
    }
  }
}

@layer layouts.responsive {
  .application.investigator {
    .window-content {
      &,
      & * {
        all: revert-layer;
      }
    }
  }
}

@layer layouts.views {
  .application.investigator {
    .window-content {
      all: revert-layer;
    }
  }
}

@layer layouts.full {
  .application.investigator {
    .window-content {
      all: revert-layer;
    }
  }
}
